.l-header {
  @include clearfix;
  background-color: $C_SOFT_BLUE;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  z-index: 99999;

  .logo {
    float: left;

    a { padding: 13px 0; }//a

  }//.logo

  nav {
    float: right;

    ul li {
      float: left;

      a {
        padding: 15px 12px;
        font-size: 1.6em;
        display: block;
        line-height: 1em;
        color: $C_WHITE;
        font-family: $BASE_FONT;
      }//a

    }//li

  }//nav

}//.l-header
