.l-show {
  @include clearfix;
  padding-bottom: 20px;

  h1 { margin: 15px 0; }//h1

  .show-topic {
    position: relative;

    .favorite {
      position: absolute;
      right: 10px;
      top: 10px;
    }

  }//.show-topic

  .comments {
    h2 {
      margin: 20px 0 10px;
      font-size: 1.8em;
    }//h2

    ul li {
      padding: 10px;
      border: 1px solid rgb(230, 230, 230);
      margin-bottom: 10px;

      .body {
        font-size: 1.4em;
      }//.body

      .report {
        margin-top: 10px;
        font-size: 1.2em;

        div { color: $C_ORANGE; }

        input[type="submit"]{
          @extend .btn;
          @extend .btn.small;
          background-color: $C_ORANGE;
        }//input[type="submit"]
      }//.report

    }//ul li

  }//.comments

  .new-comment {
    margin-top: 20px;

    h3 { font-size: 1.6em; }//h3

    textarea {
      margin: 10px 0;
      padding: 10px;
      width: 100%;
    }//textarea

    input[type="submit"]{
      @extend .btn;
      background-color: $C_SOFT_BLUE;
    }//input[type="submit"]

    .legend {
      color: $C_ORANGE;
      font-size: 1.4em;
    }//.legend

  }//.new-comment

}//.l-show
