.l-footer-admin {
    background-color: $C_WHITE;

  .logo {
    width: 240px;
    text-align: center;

    a { color: $C_SOFT_PURPLE }//a
  }//.logo

  .right { padding-right: 10px; }//.right

}//.l-footer-admin